.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-form {
    width: 600px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 36px;
    justify-content: center;
  }
  
  .search-input {
    font-size: 18px;
    width: 272px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #808080;
    border-radius: 4px;
  }
  input:hover{
    border: 1px solid #2E2F42;
  }
  input:focus{
    border: 1px solid #4E75FF;
    outline: none;
  }
  
  .search-btn,
  .btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #4E75FF;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 8px;
    border-radius: 8px;
  }
  .search-btn:hover,
  .btn:hover{
    background-color: #6C8CFF;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .gallery-item {
    width: calc((100% - 40px) / 3);
    gap: 24px;
    box-sizing: border-box; 
    border: 1px solid #808080; 
    overflow: hidden; 
  }
  
  .gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .gallery-info{
    display: flex;
    margin: 0 20px 10px;
    gap: 20px;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #333;
    z-index: 1000; 
  }

  .btn{
    display: flex;
    margin: 10px auto;
  
  }
  